data/*.csv filter=lfs diff=lfs merge=lfs -text
data/*/*.png filter=lfs diff=lfs merge=lfs -text
data/*/*.tif filter=lfs diff=lfs merge=lfs -text
data/*/*.gt.txt filter=lfs diff=lfs merge=lfs -text
data/*/*.jpg filter=lfs diff=lfs merge=lfs -text
data/*/*.csv filter=lfs diff=lfs merge=lfs -text
