[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pep8 = "*"
pytest = "*"

[packages]
fastapi = "==0.60.1"
google-api-core = {extras = ["grpc"], version = "==1.22.2"}
google-auth = "==1.21.2"
google-cloud-vision = "==1.0.0"
googleapis-common-protos = "==1.52.0"
joblib = "==0.16.0"
matplotlib = "*"
nltk = "==3.4.4"
pandas = "==1.1.0"
plotly = "==4.9.0"
pydantic = "*"
python-dotenv = "==0.15.0"
requests = "==2.24.0"
scikit-image = "*"
scikit-learn = "==0.23.2"
sqlalchemy = "==1.3.20"
uvicorn = "*"
wordcloud = "==1.8.1"
pep8 = "*"

[requires]
python_version = "3"
