[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"

[packages]
fastapi = "==0.60.1"
pandas = "==1.1.0"
plotly = "==4.9.0"
uvicorn = {extras = ["standard"], version = "==0.11.8"}
cachetools = "==4.1.1"
certifi = "==2020.6.20"
cffi = "==1.14.2"
chardet = "==3.0.4"
cryptography = "==3.1"
google-api-core = "==1.22.2"
google-auth = "==1.21.2"
google-cloud-vision = "==1.0.0"
googleapis-common-protos = "==1.52.0"
grpcio = "==1.32.0"
idna = "==2.10"
protobuf = "==3.13.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pytz = "==2020.1"
requests = "==2.24.0"
rsa = "==4.6"
six = "==1.15.0"
urllib3 = "==1.25.10"
python-multipart = "==0.0.5"
joblib = "==0.16.0"
scikit-learn = "==0.23.2"
scipy = "==1.5.2"
nltk = "==3.4.4"
sqlalchemy = "*"
python-dotenv = "*"
wget = "*"
pillow = "*"
pipfile = "*"
jamspell = "*"
scikit-image = "*"
imutils = "*"
matplotlib = "*"
textblob = "*"
numpy = "*"
opencv-contrib-python = "*"
pytesseract = "*"

[requires]
python_version = "3"
