absl-py==0.14.1
appnope==0.1.2
argon2-cffi==21.1.0
asgiref==3.4.1
astunparse==1.6.3
attrs==21.2.0
backcall==0.2.0
bleach==4.1.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
clang==5.0
click==8.0.1
colorama==0.4.4
cycler==0.10.0
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
fastapi==0.60.1
flatbuffers==1.12
gast==0.4.0
google-api-core==1.22.2
google-auth==1.21.2
google-auth-oauthlib==0.4.6
google-cloud-vision==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==1.1.1
grpcio==1.39.0
h11==0.12.0
h5py==3.1.0
idna==2.10
imageio==2.9.0
ipykernel
ipython
ipython-genutils
ipywidgets
jedi==0.18.0
Jinja2==3.0.2
joblib==0.16.0
jsonschema
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
nltk==3.4.4
notebook==6.4.4
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.0
pandocfilters==1.5.0
parso==0.8.2
path==16.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
plotly==4.9.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytesseract==0.3.8
python-dateutil==2.8.2
python-dotenv==0.15.0
pytz==2021.1
PyWavelets==1.1.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-image==0.18.2
scikit-learn==0.23.2
scipy==1.7.1
Send2Trash==1.8.0
six==1.15.0
SQLAlchemy==1.4.22
starlette==0.13.6
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==2.2.0
tifffile==2021.8.8
tornado==6.1
traitlets==5.1.0
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.15.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.12.1
