# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gitclones\scribble-stadium-ds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
